*{
  box-sizing: border-box;
}
body{background-color: beige;
    margin: 0;
    padding: 0;
}

header {background-color: #EBDEF0;
      display: flex;
      justify-content: space-around;
      align-items:center;
      border-radius: 5px;
      flex-wrap: wrap;
      font-size: 30px;
}
nav {display:flex;
  flex-direction: row;
    background-color: #EBDEF0;
}

nav a {
 padding: 14px 20px;
 text-decoration: none;
 display:flex;
 flex-direction: row;
 text-align: center;
}

nav a:hover{
    background: #AF7AC5;
}

main{display: flex;
        width: 100%;
        justify-content: center;
        overflow: auto;
        display: block;
    justify-content: space-around;

}

section{display: flex;
  flex-direction: column;
  align-items: center;
}

footer {background-color: #EBDEF0;
     display: flex;
     justify-content:center;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
     font-size: 15px;
     bottom: 0;
     right: 0;

}

img{transition: all 0.8s ease;
}

img:hover{
    transition: all 0.6s ease;
    filter: brightness(150%);
}

p {
  text-align: center;
}

.logo {border: 2px;
     margin: none;
  }

.rojotitulo{color: red; text-align: center;}

.subrayado{color: green; text-align: center; text-decoration-line: underline;}

.subrayado2{color: red; text-align:center; text-decoration-line: underline;}

.foto{display: flex; justify-content: center;}

.texto{text-align: center; font-family: sans-serif; font-style: normal; font-size: 20px;}

.social{height: 75px;
      width: 150px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: 5px;
      flex-wrap: wrap;
}

.item{
  height: 50px;
  width: 50px;
}

.info{text-align: center;
}

.iconowhat{position: fixed;
      width: 30px;
      bottom: 30px;
      right: 30px;
}


@media screen and (max-width: 700px) {
  nav{flex-direction: column;}
}

@media screen and (max-width: 700px) {

  .ifra{width: 50%;}
}
