
body{background-color: beige;
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header {background-color: #EBDEF0;
      display: flex;
      justify-content: space-around;
      align-items:center;
      border-radius: 5px;
      flex-wrap: wrap;
      font-size: 30px;
}
nav {display:inline-block;
    background-color: #EBDEF0;
}

nav ul {
 margin-top: 0px;
}

main{display: flex;
        width: 100%;
        justify-content: center;
        overflow: auto;
        display: block;
    justify-content: space-around;
}

section{display: flex;
  flex-direction: column;
  align-items: center;

}

footer {background-color: #EBDEF0;
     display: flex;
     justify-content:center;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
     font-size: 15px;
}

img{transition: all 0.8s ease;
}

img:hover{
    transition: all 0.6s ease;
    filter: brightness(150%);
}

.logo {float: left;
    border-radius: 5px;
  }

.menu li a{
    text-decoration:underline;
    padding: 20px;
    display: block;
}

.menu li{
    display:inline-flex;
    text-align: center;
}

.menu li a:hover{
    background: #AF7AC5;
}

.rojotitulo{color: red; text-align: center;}

.subrayado{color: green; text-align: center; text-decoration-line: underline;}

.subrayado2{color: red; text-align:center; text-decoration-line: underline;}

.foto{display: flex; justify-content: center;}

.texto{text-align: center; font-family: sans-serif; font-style: normal; font-size: 20px;}




.social{height: 75px;
      width: 150px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: 5px;
      flex-wrap: wrap;
}

.item{
  height: 50px;
  width: 50px;


}

.info{text-align: center;

}

.iconowhat{position: fixed;
      width: 30px;
      bottom: 30px;
      right: 30px;
}
